<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{428,300},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,85}</string>
                <key>spriteSourceSize</key>
                <string>{163,85}</string>
                <key>textureRect</key>
                <string>{{298,204},{163,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smallTitle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,31}</string>
                <key>spriteSourceSize</key>
                <string>{80,31}</string>
                <key>textureRect</key>
                <string>{{193,321},{80,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paddleLife</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,8}</string>
                <key>spriteSourceSize</key>
                <string>{19,8}</string>
                <key>textureRect</key>
                <string>{{424,141},{19,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paddleSmall</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,11}</string>
                <key>spriteSourceSize</key>
                <string>{31,11}</string>
                <key>textureRect</key>
                <string>{{563,239},{31,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paddle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,11}</string>
                <key>spriteSourceSize</key>
                <string>{43,11}</string>
                <key>textureRect</key>
                <string>{{235,175},{43,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paddle3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,11}</string>
                <key>spriteSourceSize</key>
                <string>{43,11}</string>
                <key>textureRect</key>
                <string>{{299,175},{43,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paddle2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,11}</string>
                <key>spriteSourceSize</key>
                <string>{43,11}</string>
                <key>textureRect</key>
                <string>{{363,175},{43,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paddle1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,11}</string>
                <key>spriteSourceSize</key>
                <string>{43,11}</string>
                <key>textureRect</key>
                <string>{{427,175},{43,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{225, 193},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{225, 225},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{225, 257},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>darkOrangeBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{225, 289},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purpleBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{257, 193},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{257, 225},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightBlueBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{257, 257},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>darkBlueBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{257, 289},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightGrayBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{321, 1},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>darkGrayBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{289, 1},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{129,257},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{193,257},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftSpecialBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{129,225},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightSpecialBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{193,225},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plainBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,10}</string>
                <key>spriteSourceSize</key>
                <string>{31,10}</string>
                <key>textureRect</key>
                <string>{{449,36},{31,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>specialBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,13}</string>
                <key>spriteSourceSize</key>
                <string>{31,13}</string>
                <key>textureRect</key>
                <string>{{129,290},{31,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upperLeftBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,13}</string>
                <key>spriteSourceSize</key>
                <string>{31,13}</string>
                <key>textureRect</key>
                <string>{{129,193},{31,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upperRightBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,13}</string>
                <key>spriteSourceSize</key>
                <string>{31,13}</string>
                <key>textureRect</key>
                <string>{{193,193},{31,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purpleTile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{129,321},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>darkBlueTile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{161,321},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redTile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{129,353},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenTile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{161,353},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenSquaresTile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{64,96},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueTile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{129,385},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>darkPurple</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{161,385},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,17}</string>
                <key>spriteSourceSize</key>
                <string>{100,17}</string>
                <key>textureRect</key>
                <string>{{1, 440},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getReady</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,17}</string>
                <key>spriteSourceSize</key>
                <string>{167,17}</string>
                <key>textureRect</key>
                <string>{{201, 361},{167,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameOver</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,17}</string>
                <key>spriteSourceSize</key>
                <string>{151,17}</string>
                <key>textureRect</key>
                <string>{{201,379},{151,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{5,193},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{5,225},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{5,257},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{5,289},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{5,321},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{5,353},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{5,385},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{37,193},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{37,225},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{37,257},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{37,289},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{37,321},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{37,353},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{37,385},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{69,193},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{69,225},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{69,257},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{69,289},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{69,321},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{69,353},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{69,385},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{101,193},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{101,225},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{101,257},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{101,289},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{101,321},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{101,353},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{101,385},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>F0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{485,161},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>F1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{485,193},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>F2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{485,225},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>F3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{485,257},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>F4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{485,289},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>F5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{485,321},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>F6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{485,353},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{517,161},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{517,193},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{517,225},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{517,257},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{517,289},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{517,321},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{517,353},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{581,1},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{581,33},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{581,65},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{581,97},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{581,129},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{581,161},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{581,193},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{609,475}</string>
            <key>smartupdate</key>
            <string>What goes here?</string>
            <key>textureFileName</key>
            <string>arinoid_master.png</string>
        </dict>
    </dict>
</plist>
