<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{428,300},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,85}</string>
                <key>spriteSourceSize</key>
                <string>{163,85}</string>
                <key>textureRect</key>
                <string>{{298,204},{163,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smallTitle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,31}</string>
                <key>spriteSourceSize</key>
                <string>{80,31}</string>
                <key>textureRect</key>
                <string>{{193,321},{80,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paddle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,11}</string>
                <key>spriteSourceSize</key>
                <string>{43,11}</string>
                <key>textureRect</key>
                <string>{{236,175},{43,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paddle3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,11}</string>
                <key>spriteSourceSize</key>
                <string>{43,11}</string>
                <key>textureRect</key>
                <string>{{299,175},{43,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paddle2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,11}</string>
                <key>spriteSourceSize</key>
                <string>{43,11}</string>
                <key>textureRect</key>
                <string>{{363,175},{43,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paddle1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,11}</string>
                <key>spriteSourceSize</key>
                <string>{43,11}</string>
                <key>textureRect</key>
                <string>{{427,175},{43,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{225, 193},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{225, 225},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{225, 257},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>darkOrangeBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{225, 289},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purpleBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{257, 193},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orangeBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{257, 225},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightBlueBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{257, 257},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>darkBlueBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{257, 289},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightGrayBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{321, 1},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>darkGrayBrick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{289, 1},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{129,257},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{193,257},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftSpecialBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{129,225},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightSpecialBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{193,225},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plainBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,10}</string>
                <key>spriteSourceSize</key>
                <string>{31,10}</string>
                <key>textureRect</key>
                <string>{{449,36},{31,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>specialBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,13}</string>
                <key>spriteSourceSize</key>
                <string>{31,13}</string>
                <key>textureRect</key>
                <string>{{129,290},{31,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upperLeftBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,13}</string>
                <key>spriteSourceSize</key>
                <string>{31,13}</string>
                <key>textureRect</key>
                <string>{{129,193},{31,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upperRightBorder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,13}</string>
                <key>spriteSourceSize</key>
                <string>{31,13}</string>
                <key>textureRect</key>
                <string>{{193,193},{31,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purpleTile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{129,321},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>darkBlueTile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{161,321},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redTile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{129,353},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenTile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{161,353},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueTile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{129,385},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict><key>darkPurple</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{161,385},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,17}</string>
                <key>spriteSourceSize</key>
                <string>{100,17}</string>
                <key>textureRect</key>
                <string>{{1, 440},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getReady</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,17}</string>
                <key>spriteSourceSize</key>
                <string>{167,17}</string>
                <key>textureRect</key>
                <string>{{201, 361},{167,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameOver</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,17}</string>
                <key>spriteSourceSize</key>
                <string>{151,17}</string>
                <key>textureRect</key>
                <string>{{201,379},{151,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{609,475}</string>
            <key>smartupdate</key>
            <string>What goes here?</string>
            <key>textureFileName</key>
            <string>arinoid_master.png</string>
        </dict>
    </dict>
</plist>
