<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arinoid</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,260}</string>
                <key>spriteSourceSize</key>
                <string>{1024,260}</string>
                <key>textureRect</key>
                <string>{{0,0},{1024,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ballBlue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{0,260},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ballGrey</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{22,260},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_blue_rectangle_glossy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{44,260},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_dark_blue_rectangle_glossy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{108,260},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_green_rectangle_glossy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{172,260},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_grey_rectangle_glossy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{236,260},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_orange_rectangle_glossy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{300,260},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_pink_rectangle_glossy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{364,260},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_purple_rectangle_glossy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{428,260},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_red_rectangle_glossy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{492,260},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_white_rectangle_glossy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{556,260},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_yellow_rectangle_glossy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{620,260},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paddleBlu</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,24}</string>
                <key>spriteSourceSize</key>
                <string>{104,24}</string>
                <key>textureRect</key>
                <string>{{684,260},{104,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paddleLife</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,15}</string>
                <key>spriteSourceSize</key>
                <string>{64,15}</string>
                <key>textureRect</key>
                <string>{{788,260},{64,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paddleRed</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,24}</string>
                <key>spriteSourceSize</key>
                <string>{104,24}</string>
                <key>textureRect</key>
                <string>{{852,260},{104,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particleCartoonStar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{956,260},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particleSmallStar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{966,260},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particleStar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{976,260},{20,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,292},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,82}</string>
                <key>spriteSourceSize</key>
                <string>{161,82}</string>
                <key>textureRect</key>
                <string>{{139,292},{161,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title-small</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,26}</string>
                <key>spriteSourceSize</key>
                <string>{75,26}</string>
                <key>textureRect</key>
                <string>{{64,292},{75,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{1024,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ac3d14b633c2579c72ae2396e44130f:c9ab3960dbeba29824509435121314ce:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
